<router-outlet></router-outlet>
<!---
<div class="container">
<div >
<nav class="navbar navbar-fixed-left navbar-dark">
        <a class="navbar-brand">Sidebar</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="signUp">signUp</a></li>
        </ul>
       
</nav>
</div> -->
<!--
<div class="dashboard jumbotron" >
   <h1>Dashboard Categories!</h1>
   <nav>
    <ul class="nav navbar-nav" routerLinkActive="inactive">
        <li class="nav-item"><a class="nav-link" routerLink="empDetails">EmpDetails</a></li>
    </ul>
    <router-outlet></router-outlet>
</nav>           
</div> 

</div>-->
