<div class="dashboard jumbotron" >
    <h1>Dashboard Categories!</h1>
    <nav>
     <ul class="nav navbar-nav" routerLinkActive="active">
         <li class="nav-item"><a class="nav-link" routerLink="empDetails">EmpDetails</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="managerDetails">Managerdetails</a></li>
         <li><button class="btn primary" routerLink="/login" routerLinkActive="active">Logout</button></li>
     </ul>
     <router-outlet></router-outlet>
 </nav>           
 </div>



