<!--
<table>
<tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.password}}</td>
    <td><button (click)="deleteUser(user.id)">DeletUser</button></td>
</tr>
</table>-->

<fieldset>
    <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <p>
            Form Status: {{ profileForm.status }}
          </p>    
    <div class="form-control">
    <label>
        UserName
        <input type="text" formControlName="userName">
    </label></div>
    <div class="form-control">
    <label>
        Password
        <input type="text" formControlName="password">  
    </label></div>
       
  <!--  <div formArrayName="aliases">
        <h3>Aliases</h3> <button (click)="addAlias()">Add Aliases</button>
        <div *ngFor="let alias of aliases.controls; let i=index">
             The repeated alias template 
            <label>
                Alias:
                <input type="text" [formControlName]="i">
            </label>
        </div>
    </div>-->

    <div *ngIf="errorDetails.error" class="errors">{{errorDetails.message}}</div>
    <div *ngIf="!errorDetails.error">{{errorDetails.message}}</div>
   <button type="submit" [disabled]="!profileForm.valid">Submit</button>
<!--
   <p>
    "Formvalue:"{{JSON.stringify(profileForm.value)}}
  </p>
  <p>
      "Users:" {{users}}
  </p>
   <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>-->

</form>
</fieldset>
    
<!--
        <input  [formControl] ="userName" required placeholder="UserName" >UserName</div>
        <div> <button (click)="upDateuserName()">UpdateUserName</button></div>
    <div class="form-control"><input  type="password" required placeholder="Password" >Password</div>
   <input  [formControl] ="userName" required placeholder="UserName" >UserName</div>
        <div> <button (click)="upDateuserName()">UpdateUserName</button></div> 
<button class="btn primary" routerLink="/empDetails" routerLinkActive="active">Login</button>
-->